<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VTDataContracts.Properties.Settings.UptRTConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=UptRT;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>